.link-div {
	color: #623110;
	text-decoration: none;
}

.flick-cell-div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 1vh 5vw;
	background-color: #ffdbbd;
}

.flick-pic-div {
	width: 20vw;
	height: auto;
}

.flick-pic {
	max-width: 100%;
	height: auto;
}
