.flick-cell-div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border: #61dafb 1px solid;
	margin: 1vh 5vw;
}

.flick-pic-div {
	width: 20vw;
	height: auto;
}

.flick-pic {
	max-width: 100%;
	height: auto;
}
