.flicklist-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 2vw;
	max-width: 80vw;
	margin: 0 auto;
}

.link-div {
	color: #623110;
	text-decoration: none;
	background-color: #ffdbbd;
	max-height: 12vh;
}

@media (max-width: 600px) {
	.flicklist-container {
		grid-template-columns: 1fr;
		max-width: 100vw;
		gap: 1vh;
	}
}
